.messageul {
	color:yellow;
	float: center;
}

.messageli {
	color:yellow;
}

div.messages {
	color: yellow;
	margin: auto;
}

p.message {
	max-width:300px;
	word-wrap:break-word;
	color: yellow;
	text-align: left;
	
}